/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

@keyframes fall {
    0% {
      transform: translateX(0) translateY(0) rotate(45deg);
      opacity: 1;
    }
    100% {
      transform: translateX(-300px) translateY(300px) rotate(45deg);
      opacity: 0;
    }
  }
  
  .star {
    position: absolute;
    width: 1px;
    height: 60px;
    background: linear-gradient(transparent, #2563eb, #3b82f6, transparent);
    animation: fall 6s linear infinite;
    filter: drop-shadow(0 0 2px #3b82f6);
    z-index: 10;
    opacity: 0.8;
  }
  
  .dark .star {
    background: linear-gradient(transparent, #60a5fa, #93c5fd, transparent);
    filter: drop-shadow(0 0 5px #93c5fd);
    opacity: 1;
  }
  
  .mobile-menu {
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    max-height: 0; /* Closed state */
    opacity: 0;    /* Closed state */
    overflow: hidden; /* Hide overflow */
  }
  
  .mobile-menu.open {
    max-height: 200px; /* Adjust based on your menu height */
    opacity: 1;        /* Fully visible */
  }
  